<div class="about">
  <h1 id="about">About</h1>

  <p>
    Mobileez is a ratings and reviews website that helps wheelchair users discover the closest, easiest-to-access places to eat out. Restaurant are rated on the accessibility of a business’s entrance and bathroom(s). Our ratings and reviews give users the freedom to confidently decide on their favorite cuisine or coffee shop, without being surprised by a missing wheelchair ramp or inaccessible toilet.
  </p>
  <p>
    The Mobileez website was created in January 2016 by General Assembly students taking a 3-month immersive course in either Product Management, Web Design, or User Experience Design.
  </p>


  <h2>Scoring Explained:</h2>
  <p>
    The stars for all four criteria are added together to give this business your Total Score. The Overall Score averages the total score from each user who has ever rated the business.
  </p>

  <h2>Ratings & Reviews - Use Your Best Judgement:</h2>
  <p>
    When rating accessibility, use your best judgement. If you are unsure how to rate something, select the closest possible answer and provide a review along with your choice.
  </p>

</div>
